<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>{% if judul %}{{ judul }} - {% endif %} Flog by NgodingPython</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='bootstrap/css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <nav
      class="navbar navbar-dark navbar-expand-md shadow"
      style="background: #738239"
    >
      <div class="container">
        <img
          src="{{ url_for('static', filename='img/logo asimo.png') }}"
          alt="logo asimo"
          style="width: 68px; height: 68px; margin-right: 20px"
        />
        <a class="navbar-brand" href="{{ url_for('home') }}">Kelompok 1 Asimo</a
        ><button
          data-toggle="collapse"
          class="navbar-toggler"
          data-target="#navcol-1"
        >
          <span class="sr-only">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <a
                class="nav-link {% if judul=='Beranda' %} active {% endif %}"
                href="{{ url_for('home') }}"
                >Beranda</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% if judul=='Aplikasi' %} active {% endif %}"
                href="{{ url_for('aplikasi') }}"
                >Aplikasi</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% if judul=='Informasi' %} active {% endif %}"
                href="{{ url_for('informasi') }}"
                >Informasi</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% if judul=='Kontak' %} active {% endif %}"
                href="{{ url_for('kontak') }}"
                >Kontak</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div>
      <div class="container">
        <div class="row" style="padding-top: 15px">
          <div class="col-md-8" style="border-style: none">
            {% block content %}{% endblock %}
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Menu Cepat</h4>
                <ul class="list-group">
                  <li class="list-group-item"><span>Post Populer</span></li>
                  <li class="list-group-item"><span>Pengumuman</span></li>
                  <li class="list-group-item"><span>Acara</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Open Footer -->
    <footer id="footer">
      <div class="footer-atas">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 footer-contact">
              <h3>Contact us!</h3>
              <p>
                Orbit Future Academy (OFA) <br />
                AI Mastery Program <br />
                Kelas Asimo - Kelompok 1 <br />
              </p>
            </div>

            <div class="col-lg-4 col-md-6 footer-links">
              <h4>Academic</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Subjecs</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">lecturers</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-4 col-md-6 footer-links">
              <h4>Populer Subjects</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Data Science</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Computer Vision</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Natural Language Processing</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Reinforcement Learning</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Deployment</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-bawah">
        <div class="container d-md-flex py-4">
          <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
              &copy; Copyright
              <strong><span>Kelompok 1 - Asimo</span></strong> [ AI Program
              Mastery (Batch 3) - Orbit Future Academy]
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
  </body>
</html>
